@font-face {
  src: url("../fonts/Cocogoose Pro Block Border Trial.woff") format("woff");
  font-family: "Cocogoose-border";
}
@font-face {
  src: url("../fonts/Cocogoose-Pro-Regular.woff") format("woff");
  font-family: "Cocogoose-regular";
}
header {
  background-color: #fff;
  width: 100%;
}
header .top-header {
  height: 30%;
  background-color: #272a31;
}
header .nav-container, header .bottom-header {
  margin: 0 12vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .nav-ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.5rem;
}
header .nav-li {
  padding: 0 1vw;
}
header .nav-li .li-link {
  color: #d3d3d3;
}
header .bottom-header {
  height: 60%;
  justify-content: space-between;
  width: 75%;
}
header .container-menu {
  width: 100%;
}
header .img-logo, header .img-logo img {
  width: 150px;
  height: 116px;
}
header .navbar-toggler .line {
  background-color: #ec5242;
  margin-bottom: 5px;
  width: 50px;
  height: 10px;
  border-radius: 5%;
}
header .nav-container-botton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  column-gap: 5rem;
}
header .nav-container-botton .nav-ul-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
header .nav-container-botton .li-link {
  font-weight: 700;
  color: #696969;
}
header .nav-container-botton .selected {
  color: #ec5242;
}
header .nav-container-botton .campaign {
  background-color: transparent;
  border: 4px solid #ec5242;
}

main .container-first {
  background: url(../img/aikido1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .container-first:after {
  content: "";
  position: absolute;
  top: 158px;
  right: 0;
  height: 100vh;
  width: 100%;
  background: white;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.8169467616) 0%, whitesmoke 60%);
  min-height: 57rem;
}
main .container-first .first {
  position: relative;
  margin: 0 12vw;
  height: 100vh;
  z-index: 1;
  min-height: 57rem;
}
main .container-first .first .container-first-info {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
}
main .container-first .container-quote {
  font-size: 3em;
  color: #ff432f;
}
main .container-first .container-title {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
main .container-first .container-title h1 {
  background: linear-gradient(180deg, rgba(255, 67, 47, 0.99) 0%, rgba(255, 67, 47, 0.8) 77%), url(../img/aikido2.png);
  background-repeat: no-repeat;
  background-position: 0px 5px;
  background-size: contain;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6.4em;
  font-weight: 900;
}
main .container-first .container-info, main .container-first .container-date {
  border: 4px solid white;
  font-weight: 700;
  padding: 0.6em;
  text-align: left;
  width: 50%;
  color: #696969;
}
main .container-first .container-date {
  border: 0;
  margin-top: 3em;
}
main .container-first .container-date h2 {
  font-family: "Cocogoose-regular";
}
main .container-main-program {
  position: relative;
  height: 68vh;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALUlEQVQYlWNQUtH8z0AAwNXgU4whh00xTgPUtQz/I2OcbhkghUR5hqjgITbAAeEyKTnSw6pPAAAAAElFTkSuQmCC) repeat;
  background-size: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42rem;
}
main .container-main-program:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #272a31;
  z-index: -1;
}
main .container-main-program .main-program {
  height: 100%;
  position: absolute;
  margin: 0 12vw;
}
main .container-main-program .main-program:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
main .container-main-program h2 {
  font-size: 1.8em;
  font-weight: 700;
  color: whitesmoke;
}
main .container-main-program h2:after {
  content: "___";
  display: flex;
  justify-content: center;
  color: #ec5242;
}
main .container-main-program .container-program-section {
  display: grid;
  grid-template-columns: repeat(1fr, 5);
  grid-template-areas: "job1 job2 job3 job4 job5";
  column-gap: 10px;
}
main .container-main-program .container-program-section .general-section {
  background-color: rgba(105, 105, 105, 0.2);
  padding: 2rem;
}
main .container-main-program .container-program-section .general-section h3 {
  color: #ec5242;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0.8rem;
}
main .container-main-program .container-program-section .general-section h4 {
  color: #f5f5f5;
  font-size: 1em;
  font-weight: 700;
}
main .container-main-program .container-program-section .section1 {
  grid-template: job1;
}
main .container-main-program .container-program-section .section2 {
  grid-template: job2;
}
main .container-main-program .container-program-section .section3 {
  grid-template: job3;
}
main .container-main-program .container-program-section .section4 {
  grid-template: job4;
}
main .container-main-program .container-program-section .section5 {
  grid-template: job5;
}
main .container-main-program .hole-program {
  padding-bottom: 1em;
}
main .container-main-program .program-link {
  color: #f5f5f5;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}
main .container-main-program .btn-join {
  color: #f5f5f5;
  font-size: 1em;
  font-weight: 700;
  font-size: 1.6em;
  background-color: #ec5242;
  width: 100%;
}
main .container-main-program .join {
  display: none;
}
main .master {
  margin: 0 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
main .master h2 {
  font-size: 1.8em;
  font-weight: 700;
}
main .master h2:after {
  content: "___";
  display: flex;
  justify-content: center;
  color: #ec5242;
}
main .master .container-master {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .master .img-size {
  width: 150px;
  height: 150px;
}
main .master .master-info {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  width: 45%;
}
main .master .master-text {
  margin-left: 20px;
}
main .master h3 {
  font-size: 1.5em;
  font-weight: 700;
}
main .master h5 {
  font-size: 1em;
  font-weight: 700;
  color: #ec5242;
}
main .master h5:after {
  content: "___";
  display: flex;
  justify-content: flex-start;
  color: rgba(105, 105, 105, 0.2);
}
main .master p {
  font-weight: 700;
  font-size: 0.8em;
}
main .partners {
  background-color: #696969;
  text-align: center;
  padding: 4em 0;
}
main .partners h2 {
  font-size: 1.8em;
  font-weight: 700;
  color: #d3d3d3;
}
main .partners h2:after {
  content: "___";
  display: flex;
  justify-content: center;
  color: #ec5242;
}
main .partners .container-partners {
  margin: 0 12vw;
  display: grid;
  grid-template-columns: repeat(1fr, 5);
  grid-template-areas: "job1 job2 job3 job4 job5";
}
main .partners .container-partners .brand {
  position: relative;
}
main .partners .container-partners .brand:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(105, 105, 105, 0.8);
}
main .partners .container-partners .brand img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 767px) {
  header .bottom-header {
    margin: 0 1.4rem;
  }
  header .bottom-header .img-logo, header .bottom-header .img-logo img, header .img-logo .bottom-header img {
    display: none;
  }
  header .campaign {
    display: none;
  }

  header .nav-container-botton .nav-ul-bottom {
    width: 100%;
  }

  main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1fr, 4);
    grid-template-areas: "section1" "section2" "section3" "section4";
    width: 100vw;
  }
  main .container-first {
    grid-area: section1;
  }
  main .container-first .first {
    margin: 0 1.4rem;
  }
  main .container-first .container-quote {
    font-size: 2.2em;
  }
  main .container-first .container-title h1 {
    font-size: 5.4em;
  }
  main .container-first .container-info, main .container-first .container-date {
    width: 100%;
  }
  main .container-main-program {
    grid-area: section2;
    height: 100vh;
  }
  main .container-main-program .main-program {
    margin: 0 1.4rem;
    height: 100vh;
  }
  main .container-main-program .container-program-section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1fr, 5);
    grid-template-areas: "program1" "program2" "program3" "program4" "program5";
    height: 70%;
    row-gap: 10px;
  }
  main .container-main-program .container-program-section .section1 {
    grid-area: program1;
  }
  main .container-main-program .container-program-section .section2 {
    grid-area: program2;
  }
  main .container-main-program .container-program-section .section3 {
    grid-area: program3;
  }
  main .container-main-program .container-program-section .section4 {
    grid-area: program4;
  }
  main .container-main-program .container-program-section .section5 {
    grid-area: program5;
  }
  main .container-main-program .container-program-section .general-section {
    display: flex;
    align-items: center;
    padding: 2em 1.6em;
  }
  main .container-main-program .hole-program {
    width: 72%;
    height: 4.3rem;
  }
  main .container-main-program .program-link {
    display: none;
  }
  main .container-main-program .join {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.3rem;
  }
  main .master {
    grid-area: section3;
    margin: 0 1.4rem;
    height: 50vh;
  }
  main .master .container-master {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(1fr, 1);
    grid-template-areas: "program1" "program2";
    row-gap: 20px;
    width: 100vw;
  }
  main .master .master-info {
    width: 90%;
    margin-bottom: 100px;
    height: 52px;
  }
  main .master .master1 {
    grid-area: program1;
  }
  main .master .master2 {
    grid-area: program2;
  }
  main .master .none {
    display: none;
  }
  main #display-none {
    display: none;
  }
  main .display-btn {
    display: flex;
    justify-content: center;
    margin: 0 1.4rem;
  }
  main .display-btn button {
    height: 52px;
    width: 100%;
    background-color: transparent;
    text-transform: uppercase;
  }
  main .display-btn button span {
    margin: 0 0 0 10px;
  }
  main .display-btn button span i {
    color: #ec5242;
  }
  main .more-master {
    height: 100%;
    margin: 20px 0;
  }
  main .partners {
    padding: 2em 0;
  }
  main .partners .container-partners {
    margin: 0 1.4rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  main .container-main-program .container-program-section .section1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  main .master .container-master > .section1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  main .container-main-program .container-program-section .section2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  main .master .container-master > .section2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  main .container-main-program .container-program-section .section3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  main .container-main-program .container-program-section .section4 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  main .container-main-program .container-program-section .section5 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  main .master .master1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  main .master .container-master > .master1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  main .master .master2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  main .master .container-master > .master2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

@media screen and (max-width: 767px) {

  main .container-first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  main .container-main-program {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  main .master {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media screen and (min-width: 768px) {
  header .bottom-header img {
    display: block;
  }

  main #no-display {
    display: none;
  }
}
footer {
  background-color: rgba(245, 245, 245, 0.2);
}
footer .container-footer {
  margin: 0 12vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5em;
  padding: 2em 0;
}
footer img {
  width: 150px;
  height: 150px;
}

.dark-footer {
  background-color: #696969;
}

* {
  margin-top: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
body h1 {
  font-family: "Cocogoose-regular";
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

p, h3, h4 {
  margin-bottom: 0;
}