
@import 'variables';
@import 'cocogoose_font';
@import 'mixins';
@import 'menu';
@import 'footer';

* {
  margin-top: 0;
  box-sizing: border-box;
}

body {

  font-family: $font-lato;

  h1 {
    font-family:$font-coco-regular;
  }
}

// links

a {
  text-decoration: none;
}

//list

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

p, h3, h4 {
  margin-bottom: 0;
}

main {
  .container-first {
    @include background ($fifth-color);

    .first {
      position: relative;
      @include containerPage;
      height: 100ch;
      min-height: 57rem;
      z-index: 1;

      

      .container-first-info {
        position: absolute;
        @include columnFLex-main ($d-flex, $flex-direcCol, $ali-Center, $jus-sAround);
        top: 0;
        height: 100%;
      }
    }
    .container-quote {
      font-size: 3em;
      color: saturate($secundary-color, 100%);
    }

    .about-quote {
      display: none;
    }

    .container-title {
      width: 80%;
      @include columnFLex-main ($d-flex, $flex-direcRow, $ali-Center, $jus-Center);
      text-align: center;
      

      h1 {
        font-size: 6.4em;
        color: saturate($secundary-color , 100%);
        font-weight: 900;
      }
    }

    .container-info {
      border: 4px solid white; 
      font-weight: 700;
      padding: 0.6em;
      width: 100%;
      line-height: 1.8em;
      p {
        padding: 2vw 2.5em;
      }  
    }

    .container-date {
      border: 0;
      margin-top: 3em;
      width: 100%;
      text-align: center;
    }
  }
  .container-main-program {
    height: 80ch;
    border-bottom: 2px solid rgba($fourth-color, 50%);
    min-width: 40rem;

    .main-program {
      @include containerPage;
      height: 90%;

      &:nth-child(1) {
        @include columnFLex-main ($d-flex, $flex-direcCol, $ali-Center, $jus-sAround);
        text-align: center;
      }
    }

    .main-program-title {
      @include columnFLex-main ($d-flex, $flex-direcRow, $ali-Center, $jus-sAround);
      width: 100%;
    }

    h2 {
      @include h2;
      color: $fourth-color;
    }

    .container-program-section {
      @include columnFLex-main ($d-flex, $flex-direcCol, $ali-Center, $jus-sBetween);
      height: 70%;
      
      .general-section {
        padding: 1.5rem;

        p {
          @include programText($fourth-color);
        }
      }
      .img-container{
        width: 50%;
        border: 2px solid rgba($fourth-color, 50%);
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  .master {
    @include containerPage;
    @include columnFLex-main ($d-flex, $flex-direcCol, $ali-Center, $jus-sAround);
    height: 60ch;
    padding: 100px 0;

    h2 {
      @include h2;
    }

    .container-master {
      height: 100%;
      width: 100%;
      @include columnFLex-main ($d-flex, $flex-direcCol, $ali-Center, $jus-sAround);
    }

    p {
      font-weight: 700;
      font-size: 0.8em;
    }

    .master-info {
      @include columnFLex-main ($d-flex, $flex-direcRow, $ali-Center, $jus-sAround);
      width: 100%;
      height: 80%;
    }

    .master-img {
      position: relative;
      background: url(../img/au2019.jpg);
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: $secundary-color;
        mix-blend-mode: color;
      }
    }

    .year-master{
      text-align: center;
      position: absolute;
      @include columnFLex-main ($d-flex, $flex-direcCol, $ali-Center, $jus-Center);
      align-items: center;
      width: 100%;
      height: 100%;
      color: white;
      z-index: 2;
      h3 {
        font-size: 2.2em;
        font-weight: 900;
        color: $third-color;
      }
      p {
        @include programText($fourth-color);
      }
    }

    .distance {
      display: block;
      width: 100px;
      height: 100px;
    }

    .img-size {
      width: 100%;
    }
  }

  .partners {
    display: none;
    background-color: $fourth-color;
    text-align: center;
    padding: 4em 0;

    h2 {
      @include h2;
      color: $third-color;
    }

    .container-partners {
      @include containerPage;
      @include grid;
    
      .brand {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($fourth-color, 0.8);
        }

        img {
          @include imgSize; 
        }
      }
    }
  }
} 