@font-face {
  src: url("../fonts/Cocogoose\ Pro\ Block\ Border\ Trial.woff") format("woff");
  font-family: "Cocogoose-border";
}

@font-face {
  src: url("../fonts/Cocogoose\ Pro\ Regular\ Trial.woff") format("woff");
  font-family: "Cocogoose-regular";
}