main {
  .container-first {
    @include background ('url(../img/aikido1.jpg)');
  
    .first {
      position: relative;
      @include containerPage;
      height: $h-firstSecction;
      z-index: 1;
      

      .container-first-info {
        position: absolute;
        height: $h-firstSecction;
        @include columnFLex-main ($d-flex, $flex-direcCol, $ali-Fstart, $jus-sAround);
      }
    }


    

    .container-quote {
      font-size: 3em;
      color: saturate($secundary-color, 100%);
    }

    .container-title {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      

      h1 {
        @include clip;
      }
    }

    .container-info {
      border: 4px solid white; 
      font-weight: 700;
      padding: 0.6em;
      @include textBase;
    }

    .container-date {
      @extend .container-info;
      border: 0;
      margin-top: 3em;

      h2 {
        font-family: $font-coco-regular;
      }
    }
  }

  .container-main-program {
    position: relative;
    height: 68vh;
    @include backgroundMprogram;
    @include rowCenter;
    
    .main-program {
      height: 68vh;
      @include posAb;

      &:nth-child(1) {
        @include columnFLex-main ($d-flex, $flex-direcCol, $ali-Center, $jus-sAround);
        text-align: center;
      }
    }
    h2 {
      @include h2;
      color: whitesmoke;
    }

    .container-program-section {
      @include grid;
      column-gap: 10px;
      
      .general-section {
        background-color: rgba($fourth-color, 0.2);
        padding: 2rem;

        h3 {
          @include programTitle;
        }
        h4 {
          @include programText ($fifth-color);
        }
      }
    
      .section1 {
        grid-template: job1;
      }
      .section2 {
        grid-template: job2;
      }
      .section3 {
        grid-template: job3;
      }
      .section4 {
        grid-template: job4;
      }
      .section5 {
        grid-template: job5;
      }
    }

    .hole-program {
      padding-bottom: 1em;
    }
  
    .program-link {
      @include programText($fifth-color);
      text-transform: uppercase;
    }

    .btn-join {
      @include programText($fifth-color);
      font-size: 1.6em;
      background-color: $secundary-color;
      width: 100%;
    }
    .join {
      display: none;
    }
  }

  .master {
    @include containerPage;
    @include columnFLex-main ($d-flex, $flex-direcCol, $ali-Center, $jus-sAround);
    height: 100vh;

    h2 {
      @include h2;
    }

    .container-master {
      height: 75%;
      width: 100%;
      @include rowCenter;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .img-size {
      @include imgSize;
    }

    .master-info {
      @include rowCenter;
      justify-content: space-between;
      align-items: flex-start;
      width: 45%;
    }

    .master-text {
      margin-left: 20px;
    }

    h3 {
      @include h3;
    }

    h5 {
      @include h5;
      &:after {
        content: '___';
        display: flex;
        justify-content: flex-start;
        color: rgba($fourth-color, 0.2);
      }
    }

    p {
      font-weight: 700;
      font-size: 0.8em;
    }
  }

  .partners {
    background-color: $fourth-color;
    text-align: center;
    padding: 4em 0;

    h2 {
      @include h2;
      color: $third-color;
    }

    .container-partners {
      @include containerPage;
      @include grid;
    
      .brand {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($fourth-color, 0.8);
        }

        img {
          @include imgSize; 
        }
      }
    }
  }
} 



