@include mediaMd {
  main {
    @include gridMd;
    grid-template-rows: set-grid($rows);
    grid-template-areas: $templateMd;
    width: 100vw;

    .container-first {
      grid-area: section1;

      .first{
        margin: 0 1.4rem;
      }
      .container-quote {
        font-size: 2.2em;
      }

      .container-title h1 {
        font-size: 5.4em;
      }

      .container-info, .container-date {
        width: 100%;
      }
    }
    .container-main-program {
      grid-area: section2;
      height: 100vh;

      .main-program {
        margin: 0 1.4rem;
        height: 100vh;
      }
      .container-program-section {
        @include gridMd;
        grid-template-rows: set-grid($rows1);
        grid-template-areas: $templateMd1;
        height: 70%;
        row-gap: 10px;

        .section1 {
          grid-area: program1;
        }
        .section2 {
          grid-area: program2;
        }
        .section3 {
          grid-area: program3;
        }
        .section4 {
          grid-area: program4;
        }
        .section5 {
          grid-area: program5;
        }

        .general-section {
          display: flex;
          align-items: center;
          padding: 2em 1.6em;
        }
      }

      .hole-program {
        width: 72%;
        height: 4.3rem;
      }

      .program-link {
        display: none;
      }
      
      .join {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.3rem;
      }
    }

    .master {
      grid-area: section3;
      margin: 0 1.4rem;
      height: 47vh;
      overflow: hidden;
      
      .container-master {
        @include gridMd;
        grid-template-rows: set-grid($rows1);
        grid-template-areas: $templateMd1;
        row-gap: 20px;
        width: 100vw;
      }

      .master-info {
        width: 100%;
      }

      .master1 {
        grid-area: program1;
      }
      .master2 {
        grid-area: program2;
      }
      .master3 {
        grid-area: program3;
      }
      .master4 {
        grid-area: program4;
      }
      .master5 {
        grid-area: program5;
      }
      .master6 {
        grid-area: program6;
      }
    }

  }
  
}