header {
  background-color: $bgd-white;
  width: 100%;

  .top-header {
    height: 30%;
    background-color: $primary-color;
  }

  .nav-container {
    @include containerPage;
    @include rowMenu;
  }

  .nav-ul {
    @include rowMenu;

    padding-top: 0.5rem;
  }

  .nav-li {
    padding: 0 1vw;

    .li-link {
      color: $third-color;
    }
  }

  .bottom-header {
    height: 60%;
    justify-content: space-between;
    width: 75%;

    @extend .nav-container;
  }

  .container-menu {
    width: 100%;
  }

  .img-logo {
    width: 150px;
    height: 116px;

    & img {
      @extend .img-logo;
    }
  }

  .navbar-toggler {
    .line {
      display: block;
      background-color: $secundary-color;
      margin-bottom: 5px;
      width: 50px;
      height: 10px;
      border-radius: 5%;
    }
  }

  .nav-container-botton {
    @include rowMenu;

    width: 100%;
    column-gap: 5rem;

    .nav-ul-bottom {
      @include rowMenu;

      justify-content: space-between;
      width: 50%;
    }

    .li-link {
      font-weight: 700;
      color: $fourth-color;
    }

    .selected {
      color: $secundary-color;
    }

    .campaign {
      background-color: transparent;
      border: 4px solid $secundary-color;
    }
  }
}

@include mediaMd {
  header {
    position: sticky;
    top: 0;
    z-index: 5;

    .bottom-header {
      margin: 0 1.4rem;

      .img-logo {
        display: none;
      }
    }

    .campaign {
      display: none;
    }

    .container-menu {
      position: absolute;
      top: 87px;
      z-index: 2;

      @include background($bgd-white);

      left: 0;
    }
  }

  header .nav-container-botton .nav-ul-bottom {
    width: 100%;
  }
}
