header {
  background-color: $bgd-white;
  width: 100%;

  .top-header {
    height: 5vh;
    background-color: $primary-color;
  }

  .nav-container{
    @include containerPage;
    @include rowMenu;
  }

  .nav-ul {
    @include rowMenu;
    padding-top: 0.5rem;
  }

  .nav-li {
    padding: 0 1vw;

    .li-link {
      color: $third-color;
    } 
  }

  .bottom-header {
    height: $h-bottomHeader;
    @extend .nav-container;
    justify-content: space-between;
    width: 75%;
  }

  .container-menu {
    width: 100%;
  }

  .img-logo {
    width: 150px;
    height: 116px;
    & img{
      @extend .img-logo;
    }
  }

  .nav-container-botton {
    @include rowMenu;
    width: 100%;
    column-gap: 5rem;
  
    .nav-ul-bottom {
      @include rowMenu;
      justify-content: space-between;
      width: 50%;
    }

    .li-link {
      font-weight: 700;
      color: $fourth-color;
    }

    .selected {
      color: $secundary-color;
    }

    .campaign {
      background-color: transparent;
      border: 4px solid $secundary-color;
    }
  }
}