@mixin columnFLex-main {
  display: $d-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin rowMenu {
  display: $d-flex;
  justify-content: flex-end;
  align-items: center;
}
