@import 'variables';
@import 'cocogoose_font';
@import 'mixins';
@import 'menu';
@import 'main';

* {
  margin-top: 0;
  box-sizing: border-box;
}

body {

  font-family: $font-lato;

  h1 {
    font-family:$font-coco-border;
  }
}

// links

a {
  text-decoration: none;
}

//list

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
