// colors

$primary-color: #272a31;
$secundary-color: #ec5242;
$third-color: #d3d3d3;
$fourth-color: #696969;

$bgd-white: #fff;

// breakpoint

$breakpoint-Md: 767px;
$breakpoint-Lg: 768px;

$font-lato: 'Lato', sans-serif;
$font-coco-border: 'Cocogoose-border';
$font-coco-regular: 'Cocogoose-regular';

$d-flex: flex;

//height header

$h-topHeader: 5vh;
$h-bottomHeader: 15vh;

// first secction height

$h-firstSecction: 100vh - ($h-topHeader + $h-bottomHeader);

